/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(59, 59, 59);
}
.opener {
  color: white;
  text-align: center;
  font-family: monospace;
}
.opener a:link {
  color: aquamarine;
}
